<!DOCTYPE html>
<html>
<head>
    <title>Fire State Checker</title>
</head>
<body>
    <h1>Fire State Checker</h1>
    <form action="/predict" method="post">
        <label for="size">Size:</label>
        <input type="text" id="size" name="size"><br><br>

        <label for="fuel">Fuel:</label>
        <input type="text" id="fuel" name="fuel"><br><br>

        <label for="distance">Distance:</label>
        <input type="text" id="distance" name="distance"><br><br>

        <label for="decibel">Decibel:</label>
        <input type="text" id="decibel" name="decibel"><br><br>

        <label for="airflow">Airflow:</label>
        <input type="text" id="airflow" name="airflow"><br><br>

        <label for="frequency">Frequency:</label>
        <input type="text" id="frequency" name="frequency"><br><br>

        <input type="submit" value="Submit">
    </form>
    <a href="/result">Submit Results</a> <!-- Link to the result page -->
</body>
</html>
